{% extends "landing/base.html" %}

{% block content %}
    <div style="display: flex; flex-direction: row; margin-top: 5vh; margin-bottom: 5vh;">
        <div style="display: flex; width: 20%;"></div>
        <div style="display: flex; width: 60%;">
            <div style="display: flex; flex-direction: column; width: 90%;">
                <div style="display: flex; height: 50%;">
                    <form method="POST" style="width: 100%;">
                        <div class="row">
                            <div class="col-6">
                                Harga barang
                            </div>
                            <div class="col-6" style="color: #5F4BB6;">
                                {{ harga_barang }}
                            </div>
                        </div>
                        <div class="row" style="margin-top: 25px;">
                            <div class="col-6">
                                Biaya pengiriman
                            </div>
                            <div class="col-6" style="color: #5F4BB6;">
                                {{ ongkos_kirim }}
                            </div>
                        </div>
                        <div class="row" style="margin-top: 25px;">
                            <div class="col-6">
                                Jumlah yang harus dibayar
                            </div>
                            <div class="col-6" style="color: #5F4BB6;">
                                {{ ongkos_kirim|add:harga_barang }}
                            </div>
                        </div>
                        <div class="row" style="margin-top: 25px;">
                            <div class="col-6">
                                Pilih metode pembayaran
                            </div>
                            <div class="col-6">
                                <select class="custom-select" id="mySelect" onchange="myFunction()" style="background-color:#C4C4C4;">
                                    <option selected>Pilih metode pembayaran</option>
                                    <option value="BNI 1234-5678-1234">BNI</option>
                                    <option value="BCA 1234-5678-1234">BCA</option>
                                    <option value="Mandiri 1234-5678-1234">Mandiri</option>
                                    <option value="BRI 1234-5678-1234">BRI</option>
                                    <option value="GOPAY 081234567890">GOPAY</option>
                                    <option value="OVO 081234567890">OVO</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-6">
                                Transfer pembayaran ke nomor berikut
                            </div>
                            <div class="col-6">
                                <p id="demo">
                                    
                                </p>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div id="lanjut" style="visibility: hidden;">
                                <a href="/pembayaran/success" class="btn btn-secondary">Konfirmasi Pembayaan</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="display: flex; width: 20%;"></div>
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("mySelect").value;
            if(x == "Pilih metode pembayaran"){
                x = "";
            }
            document.getElementById("demo").innerHTML = x;
            myFunction2();
        }
        function myFunction2() {
            var x = document.getElementById("mySelect").value;
            if(x == "Pilih metode pembayaran"){
                x = "";
                document.getElementById("lanjut").style.visibility = "hidden";
            }
            else{
                document.getElementById("lanjut").style.visibility = "visible";
            }

        }
    </script>
    
{% endblock content %}