{% extends "landing/base.html" %}

{% block style %}

{% endblock style %}

{% block content %}
    <div style="display: flex; flex-direction: row; margin-top: 5vh; margin-bottom: 5vh;">
        <div style="display: flex; width: 10%;"></div>
        <div style="display: flex; width: 60%;">
            <div style="display: flex; flex-direction: column; width: 90%;">
                <div style="display: flex; height: 50%; flex-direction: column;">
                    <h2 style="color: #2F1487;">Detail Belanja</h2>
                    <hr style="background-color:#D63AF9; width: 100%;">
                    <div class="row">
                        <div class="col">
                            <img src="{{ barang.imgProduct.url }}" alt="" style="width: 150px; height: 150px;">

                        </div>
                        <div class="col">
                            <h2>{{ barang.name }}</h2>
                            <h2>IDR {{ barang.price }}</h2>
                            <h2>{{ barang.category }}</h2>
                        </div>
                    </div>
                </div>
                <div style="display: flex; height: 50%;">
                    <form method="POST" style="width: 100%; border-color: #2F1487;">
                        <fieldset disabled>
                            <h2 style="color: #2F1487;">Alamat Pengiriman</h2>
                            <hr style="background-color:#D63AF9;">
                            <div class="row">
                                <div class="col-6">
                                    <label for="disabledTextInput">Nama Penerima</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ nama }}" style="background-color: #C4C4C4;" >
                                </div>
                                <div class="col-6">
                                    <label for="disabledTextInput">Nomor Telepon</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ nomor_hp }}" style="background-color: #C4C4C4;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="disabledTextInput">Provinsi</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ provinsi }}" style="background-color: #C4C4C4;">
                                </div>
                                <div class="col-6">
                                    <label for="disabledTextInput">Kota / Kabupaten</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ kota }}" style="background-color: #C4C4C4;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="disabledTextInput">Kecamatan</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ kecamatan }}" style="background-color: #C4C4C4;">
                                </div>
                                <div class="col-6">
                                    <label for="disabledTextInput">Kode Pos</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ pos }}" style="background-color: #C4C4C4;">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div style="width: 20%;">
            <div style="display:flex; background-color: #F2D7EE; height: auto; flex-direction: column;">
                <h5 style="color: #2F1487; margin-top: 10px; margin-bottom: 0px; margin-left: 10px;">Ringkasan Belanja</h5>
                <hr style="background-color:#D63AF9; width: 95%; margin-bottom: 10px;">
                <p style="text-align:left; margin-left: 10px; margin-top: 0px;">
                    Kucing Chihuahua
                    <span style="float:right; margin-right: 10px;">
                        IDR {{ harga_barang }}
                    </span>
                </p>
                <p style="text-align:left; margin-left: 10px; margin-top: 0px;">
                    Biaya Pengiriman
                    <span style="float:right; margin-right: 10px;">
                        IDR {{ongkos_kirim}}
                    </span>
                </p>
                <hr style="background-color:#D63AF9; width: 95%; margin-bottom: 10px; margin-top: 0px;">
                <p style="text-align:left; margin-left: 10px; margin-top: 0px;">
                    Total
                    <span style="float:right; margin-right: 10px;">
                        IDR {{ ongkos_kirim|add:harga_barang }} 
                    </span>
                </p>
                <form method="POST" style="margin-left: 10px; margin-bottom: 10px;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Lanjut ke pembayaran</button>
                </form>
            </div>  
        </div>
        <div style="display:flex; width: 10%;"></div>
    </div>

    
{% endblock content %}