{% extends "landing/base.html" %}

{% block content %}
    <div style="display: flex; flex-direction: row; margin-top: 5vh; margin-bottom: 5vh;">
        <div style="display: flex; width: 20%;"></div>
        <div style="display: flex; width: 60%;">
            <div style="display: flex; flex-direction: column; width: 90%;">
                <div style="display: flex; height: 50%; flex-direction: column;">
                    <h2 style="color: #2F1487;">Detail Belanja</h2>
                    <hr style="background-color:#D63AF9; width: 100%;">
                    <div class="row">
                        <div class="col">
                            <img src="{{ barang.imgProduct.url }}" alt="" style="width: 150px; height: 150px;">

                        </div>
                        <div class="col">
                            <h2>{{ barang.name }}</h2>
                            <h2>IDR {{ barang.price }}</h2>
                            <h2>{{ barang.category }}</h2>
                        </div>
                    </div>
                </div>
                <div style="display: flex; height: 50%;">
                    <form method="POST" style="width: 100%;">
                        <h2 style="color: #2F1487;">Alamat Pengiriman</h2>
                        <hr style="background-color:#D63AF9;">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                {{ alamat.nama_penerima.label }}
                                {{ alamat.nama_penerima }}
                            </div>
                            <div class="col-6">
                                {{ alamat.nomor_hp.label }}
                                {{ alamat.nomor_hp }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ alamat.provinsi.label }}
                                {{ alamat.provinsi }}
                            </div>
                            <div class="col-6">
                                {{ alamat.kota.label }}
                                {{ alamat.kota }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ alamat.kecamatan.label }}
                                {{ alamat.kecamatan }}
                            </div>
                            <div class="col-6">
                                {{ alamat.kode_pos.label }}
                                {{ alamat.kode_pos }}
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-secondary">Lanjut ke pembayaran</button>
                    </form>
                </div>
            </div>
        </div>
        <div style="display: flex; width: 20%;"></div>
    </div>

    
{% endblock content %}