{% extends "landing/base.html" %}

{% block content %}
    <div style="display: flex; flex-direction: row; margin-top: 5vh; margin-bottom: 5vh;">
        <div style="display: flex; width: 20%;"></div>
        <div style="display: flex; width: 60%;">
            <div style="display: flex; flex-direction: column; width: 90%;">
                <div style="display: flex; height: 50%;">
                    Transaksi berhasil. Anda akan diarahkan ke halaman utama...
                </div>
            </div>
        </div>
        <div style="display: flex; width: 20%;"></div>
    </div>
{% endblock content %}

{% block style %}
    <script>
        function redirect(){
            window.location.href = "/";
        }
        setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
    </script>
{% endblock style %}