{% extends 'landing/base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'testimoni/css/base.css'%}">
{% endblock style %}

{% block content %}
    {% include 'testimoni/snippets/header.html' %}
    <div class="container-fluid pb-5 pt-5" id="main-content">  
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                {% for field in form %}
                    <div class="d-flex row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <b>{{ field.label_tag }}</b>
                                {{ field }}
                            </div> 
                        </div>
                    </div>
                {% endfor %}
            <div class="d-flex row justify-content-center">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary float-right mt-3 px-5" id="form_button" style=""><b>Submit</b></button>
                </div>
            </div>

        </form> 
    </div>

{% endblock content %}

