{% extends 'landing/base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'testimoni/css/base.css' %}">
{% endblock style %}

{% block content %}
    {% include 'testimoni/snippets/header.html' %}
    <div class="container-fluid pb-5 pt-5" id="main-content">
    {% if not testi %}
        <div class="container text-center pt-5 pb-3">
            <p>Kritik dan saran anda sangat kami hargai.</p>
        </div>
        {% include 'testimoni/snippets/add_testi_button.html' %}
    {% else %}
        <div class="container">
            <ul class="list-unstyled">
                {% for obj in testi %}
                    <li class="media py-3">
                        <div class="picture mr-3">
                            {% if obj.image %}
                                <img src="{{ obj.image.url }}" alt="img" class="img-fluid rounded-circle" id="user_img">
                            {% endif %} 
                        </div>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">
                                <b>{{ obj.nama }}</b>
                            </h5>
                            {{ obj.testimoni }}
                        </div>
                    </li>
                    <hr class="my-3 rounded-circle" style="border:1px solid grey">
                {% endfor %}
            </ul>
            {% include 'testimoni/snippets/add_testi_button.html' %}
        </div>
    {% endif %}  
    </div>

{% endblock content %}
