{% extends 'landing/base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
{% endblock style %}

{% block content %}
    <title>Faq</title>
    <h1 class='faqsTitle'>FAQs</h1>
    <p class ='faqs'> Frequently Asked Questions</p>
    <div class="container-fluid" id="main-content">
        {% for faq in faqs %}
        <div class="flex-row">
            <div class= "col-sm-12">
                <div class="line"></div>
                <h3 class=titlePertanyaan>{{faq.pertanyaan}}</h3>
                <p class=jawabanPertanyaan> {{faq.jawaban}}</p>
                <div class="line" style= "margin-bottom:10px;"></div>
            </div>
        </div>    
        {% endfor %}
        <a href="{% url 'faq:new_faq' %}" class="btn" style="margin-top:50px; margin-bottom:25px;">Tambah FAQs</a>        
    </div>
{% endblock content %}