html{
    max-height: 100%;
}

#main-content{
    background: #E6E6E6;
    filter: opacity(67);
}

#form_button{
    background-color: rgb(95, 75, 182, 0.65);
    border-color: rgb(95, 75, 182, 0.3);
}

#form_button:hover{
    background-color: rgb(95, 75, 182, 0.90);
    border-color: rgb(95, 75, 182, 0.6);
}

#user-img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.picture{
    max-width: 17vw;
}

.form-control {
    border-color: #F2D7EE;
    box-shadow: 0 0 0 0.1rem #F2D7EE;
}

.form-control:focus {
    border-color: #F2D7EE;
    box-shadow: 0 0 0 0.2rem #F2D7EE;
}

img{
    object-fit: contain;
}