{% extends 'landing/base.html' %}

{% load static %}


{% block style %}

{% endblock style %}



{% block content %}

<div class="container-fluid" style="margin-bottom: 5%;">
    <p class="text-center" style="font-size:200%;">Add Product</p>
</div>

<div class="container">
    <form action="{% url 'landing:add_my_product' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Name </span>
                    </div>
                    {{ form.name }}
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Image </span>
                    </div>
                    {{ form.imgProduct }}
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
                    </div>
                    {{ form.price }}
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Category</span>
                    </div>
                    {{ form.category }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="input-group-text" id="inputGroup-sizing-default">Description</p>
                {{ form.description }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" style="margin-top: 2%;">Add This Product</button>
            </div>
        </div>
                        
    </form>

</div>




{% endblock content %}