
*{
    margin: 50;
    padding: 0;
}

@media screen and (max-width: 600px){
    h1{
        padding-top: 25px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        margin: 0;
        font-size: 40px;
        text-align: center;
    
        color: #5F4BB6;
    }

    

    .faqs{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        text-align: center;

        color: #2F1847;
    }

    .containerAdd{
        padding-top: 10px;
        width: 80%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);

    }

    .btn{
        font-family: 'Roboto', sans-serif;
        position: absolute;
        color: #E6E6E6;
        width: 125px;
        height: 40px;
        background: #5F4BB6;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn:hover{
        color: #5F4BB6;
        background: hotpink;
    }

    .titlePertanyaan2{
        padding-left: 3px;
        font-size: 20px;
        padding-top: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }

    .jawabanPertanyaan{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-style: italic;
    }

    .titlePertanyaan{
        font-size: 20px;
        padding-top: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }

    .line{
        width: 95%;
        background: #5F4BB6;
        height: 2px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    #lineBawah{
        width: 100%;
        background: #5F4BB6;
        height: 2px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}

@media screen and (min-width: 600px){
    h1{
        padding-top: 25px;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 50px;
        text-align: center;
    
        color: #5F4BB6;
    }

    .faqs{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        text-align: center;

        color: #2F1847;
    }

    .containerAdd{
        padding-top: 10px;
        width: 80%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);

    }

    .btn{
        font-family: 'Roboto', sans-serif;
        position: absolute;
        color: #E6E6E6;
        width: 125px;
        height: 40px;
        background: #5F4BB6;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn:hover{
        color: #5F4BB6;
        background: hotpink;
    }

    .jawabanPertanyaan{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: italic;
    }

    .titlePertanyaan{
        padding-top: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }

    .titlePertanyaan2{
        padding-left: 3px;
        font-size: 20px;
        padding-top: 5px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }

    .line{
        width: 100%;
        background: #5F4BB6;
        height: 2px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    #lineBawah{
        width: 100%;
        background: #5F4BB6;
        height: 2px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .btn:hover{
        color: #5F4BB6;
        background: hotpink;
    }
}

@media screen and (min-width: 768px){
    #navbar{
        color: #F2D7EE;
    }
    h1{
        padding-top: 25px;
        margin: 0;
        font-style: normal;
        font-size: 60px;
        text-align: center;
        color: #5F4BB6;
    }

    .faqs{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        text-align: center;

        color: #2F1847;
    }

    .jawabanPertanyaan{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-style: italic;
    }

    .titlePertanyaan{
        padding-top: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }

    .line{
        width: 100%;
        background: #5F4BB6;
        height: 2px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    #lineBawah{
        width: 100%;
        background: #5F4BB6;
        height: 2px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .containerAdd{
        padding-top: 10px;
        width: 80%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);

    }
    #main-content{
        filter: opacity(67);;
    }


    .container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .titlePertanyaan2{
        padding-left: 10px;
        font-size: 25px;
        padding-top: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }

    .btn{
        font-family: 'Roboto', sans-serif;
        position: absolute;
        color: #E6E6E6;
        width: 125px;
        height: 40px;
        background: #5F4BB6;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn:hover{
        color: #5F4BB6;
        background: hotpink;
    }
}


